################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CreditAuthorizationSystem/.vs
/CreditAuthorizationSystem/CreditAuthorizationSystem.Auth.Api/bin/Debug/net8.0
/CreditAuthorizationSystem/CreditAuthorizationSystem.Auth.Api/obj
/CreditAuthorizationSystem/CreditAuthorizationSystem.Auth.Application/bin/Debug/net8.0
/CreditAuthorizationSystem/CreditAuthorizationSystem.Auth.Application/obj
/CreditAuthorizationSystem/CreditAuthorizationSystem.Auth.Domain/bin/Debug/net8.0
/CreditAuthorizationSystem/CreditAuthorizationSystem.Auth.Domain/obj
/CreditAuthorizationSystem/CreditAuthorizationSystem.Auth.Infrastructure/bin/Debug/net8.0
/CreditAuthorizationSystem/CreditAuthorizationSystem.Auth.Infrastructure/obj
/CreditAuthorizationSystem/CreditAuthorizationSystem.Customers.Api/bin/Debug/net8.0
/CreditAuthorizationSystem/CreditAuthorizationSystem.Customers.Api/obj
/CreditAuthorizationSystem/CreditAuthorizationSystem.Customers.Application/bin/Debug/net8.0
/CreditAuthorizationSystem/CreditAuthorizationSystem.Customers.Application/obj
/CreditAuthorizationSystem/CreditAuthorizationSystem.Customers.Domain/bin/Debug/net8.0
/CreditAuthorizationSystem/CreditAuthorizationSystem.Customers.Domain/obj
/CreditAuthorizationSystem/CreditAuthorizationSystem.Customers.Infrastructure/bin/Debug/net8.0
/CreditAuthorizationSystem/CreditAuthorizationSystem.Customers.Infrastructure/obj
/CreditAuthorizationSystem/CreditAuthorizationSystem.Transactions.Api/bin/Debug/net8.0
/CreditAuthorizationSystem/CreditAuthorizationSystem.Transactions.Api/obj
/CreditAuthorizationSystem/CreditAuthorizationSystem.Transactions.Application/bin/Debug/net8.0
/CreditAuthorizationSystem/CreditAuthorizationSystem.Transactions.Application/obj
/CreditAuthorizationSystem/CreditAuthorizationSystem.Transactions.Domain/bin/Debug/net8.0
/CreditAuthorizationSystem/CreditAuthorizationSystem.Transactions.Domain/obj
/CreditAuthorizationSystem/CreditAuthorizationSystem.Transactions.Infrastructure/bin/Debug/net8.0
/CreditAuthorizationSystem/CreditAuthorizationSystem.Transactions.Infrastructure/obj
/CreditAuthorizationSystem/CreditAuthorizationSystem.Transactions.Tests/bin/Debug/net8.0
/CreditAuthorizationSystem/CreditAuthorizationSystem.Transactions.Tests/obj
